<link rel="stylesheet" href="/css/home.css">

<div id="first">
    <h1>Build Better Habits, Build a Better Life</h1>
</div>
<p id="sub">Harness the power of our personalized habit tracker app to streamline your everyday routines and achieve your goals.</p>
<div></div>